@model ShoppingWeb.Models.ViewModel.Login
@{
    ViewBag.Title = "Index";
    var msg = string.Empty;
    msg = TempData["LoginResult"].ToString();
}

<h2>Login:</h2>

@using (Html.BeginForm("Login", "Member", FormMethod.Post))
{
    <table>
        <tr>
            <td>帳號:</td>
            <td>@Html.TextBoxFor(x=> x.Account)</td>
        </tr>
        <tr>
            <td>密碼:</td>
            <td>@Html.TextBoxFor(x=> x.Password)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
@section scripts{
    <script>
        var msg = '@msg';
        if (msg) {
            alert(msg);
        }
    </script>
}

