@model ShoppingWeb.Models.ViewModel.Register

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm("RegisterSend", "Member", FormMethod.Post )) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Register</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        <td>暱稱:</td>
                        <td><input type="text" name="name" id="name" /></td>
                    </tr>
                    <tr>
                        <td>帳號:</td>
                        <td><input type="text" name="account" id="account" /></td>
                    </tr>
                    <tr>
                        <td>密碼: </td>
                        <td><input type="text" name="password" id="password"/></td>
                    </tr>
                    <tr>
                        <td>請重複輸入密碼:</td>
                        <td><input type="text" name="repeatPassword" id="repeatPassword"/></td>
                    </tr>
                    <tr>
                        <td>性別: </td>
                        <td><input type="text" name="sex" id="sex"/></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="text" name="email" id="email"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="CreateAccount" class="btn btn-primary" /></td>
                        <td><input type="button" value="Cancel" class="btn btn-block" onclick="backToLogin()"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(() => {

        });

        function backToLogin() {
            location.href = getRootPath() + "/Member/Index";
        }

        function testRebase() {

        }
    </script>
}
